* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
}

header .logo {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: url('log.png') ;
  background-size: contain;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

.formulario h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 28px;
}

.input-contenedor {
  position: relative;
  margin-bottom: 20px;
}

.input-contenedor input {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
}

.opciones {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #ffff;
}

.opciones a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.boton {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background-color: #007bff;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.boton:hover {
  transform: scale(1.05)
}

.volver {
  color: #333;
  font-size: 14px;
}

.volver a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.volver a:hover {
  text-decoration: underline;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
