/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #58a6f1;
    padding: 10px 20px;
}

.header .logo img {
    width: 50px;
    height: 50px;
}

.header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.header nav ul li {
    display: inline;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(110vh - 70px);
    background-color: #ffffff;
    padding: 20px;

}

.form-turnos {
    width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-turnos h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-group-row .form-group {
    flex: 1;
}

.btn-ingresar {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #58a6f1;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.btn-ingresar:hover {
    background-color: #58a6f1;
}
